# https://www.debian.org/doc/manuals/maint-guide/dreq.zh-cn.html#control
# https://www.debian.org/doc/debian-policy/ch-controlfields.html

Source: rabbitcommon
Maintainer: Kang Lin <kl222@126.com>
Section: main
Priority: optional
Build-Depends: debhelper (>=13~), debhelper-compat (=13), fakeroot,
 cmake, libssl-dev, libcmark-dev, cmark,
 qt6-tools-dev, qt6-tools-dev-tools, qt6-base-dev, qt6-base-dev-tools,
 qt6-l10n-tools, qt6-translations-l10n, qt6-scxml-dev
Standards-Version: 4.6.2
Homepage: https://github.com/KangLin/RabbitCommon
Vcs-Git: https://github.com/KangLin/RabbitCommon.git
Vcs-Browser: https://github.com/KangLin/RabbitCommon
Rules-Requires-Root: no

Package: rabbitcommon
Section: libs
Architecture: any
Multi-Arch: same
# Essential: no
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rabbit common library using Qt
 Rabbit common library using Qt.
 .
 Author: Kang Lin <kl222@126.com>
 .
 Donation:
 https://github.com/KangLin/RabbitCommon/raw/master/Src/Resource/image/Contribute.png
 https://gitee.com/kl222/RabbitCommon/raw/master/Src/Resource/image/Contribute.png
 https://gitlab.com/kl222/RabbitCommon/-/raw/master/Src/Resource/image/Contribute.png

Package: rabbitcommon-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: rabbitcommon (= ${binary:Version}), ${misc:Depends}
Description: Rabbit common devel library using Qt
 Rabbit common devel library using Qt.
 .
 Author: Kang Lin <kl222@126.com>
 .
 Donation:
 https://github.com/KangLin/RabbitCommon/raw/master/Src/Resource/image/Contribute.png
 https://gitee.com/kl222/RabbitCommon/raw/master/Src/Resource/image/Contribute.png
 https://gitlab.com/kl222/RabbitCommon/-/raw/master/Src/Resource/image/Contribute.png

Package: filebrowser
Architecture: any
Depends: rabbitcommon (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: File browser
 FileBrowser is a cross-platform file browser software.
 .
 Author: Kang Lin <kl222@126.com>
 .
 Donation:
 .
 https://github.com/KangLin/RabbitCommon/raw/master/Src/Resource/image/Contribute.png
 .
 https://gitee.com/kl222/RabbitCommon/raw/master/Src/Resource/image/Contribute.png
 .
 https://gitlab.com/kl222/RabbitCommon/-/raw/master/Src/Resource/image/Contribute.png
