[Desktop Entry]
Type=Application
Icon=/opt/RabbitCommon/share/pixmaps/App.png
Exec=/opt/RabbitCommon/bin/RabbitCommonApp.sh
Terminal=false
StartupNotify=true
Categories=Application;Development;
MimeType=text/plain;
X-KDE-Protocols=http,https

Name=RabbitCommon
GenericName=RabbitCommon
Comment=RabbitCommon

Name[zh_CN]=玉兔公共库
GenericName[zh_CN]=玉兔公共库
Comment[zh_CN]=玉兔公共库
