# https://specifications.freedesktop.org/menu-spec/latest/index.html

# https://specifications.freedesktop.org/desktop-entry-spec/latest/
[Desktop Entry]
Type=Application
Icon=${SNAP}/meta/gui/FileBrower.svg
Exec=${SNAP}/usr/local/bin/FileBrowser
Terminal=false
StartupNotify=true
# https://specifications.freedesktop.org/menu-spec/latest/apa.html
Categories=Development
# https://www.freedesktop.org/wiki/Specifications/shared-mime-info-spec/
MimeType=text/plain;
X-KDE-Protocols=http,https

Name=File Browser
GenericName=File Browser
Comment=File Browser

Name[zh_CN]=文件浏览器
GenericName[zh_CN]=文件浏览器
Comment[zh_CN]=文件浏览器
