# Author: Kang Lin <kl222@126.com>

name: android

on:
  workflow_call:
    outputs:
      name:
        description: "The artifact name"
        value: ${{ jobs.build_android.outputs.name }}

jobs:
  build_android:

    strategy:
      matrix:
        include:
          - qt_arch: android_arm64_v8a
            VCPKG_TARGET_TRIPLET: arm64-android
            ANDROID_ABI: arm64-v8a
            qt_version: 6.9.3
            BUILD_TYPE: Release

          - qt_arch: android_x86_64
            VCPKG_TARGET_TRIPLET: x64-android
            ANDROID_ABI: x86_64
            qt_version: 6.9.3
            BUILD_TYPE: Release

    # See: [About GitHub-hosted runners](https://docs.github.com/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners)
    # See: [Choosing the runner for a job](https://docs.github.com/actions/writing-workflows/choosing-where-your-workflow-runs/choosing-the-runner-for-a-job)
    # See: https://github.com/actions/runner-images/
    runs-on: ubuntu-24.04

    env:
      RabbitCommon_VERSION: v2.3.4
      VCPKGGITCOMMITID: 0e39c10736341cc8135b560438229bbda3d3219a
      VCPKG_TARGET_TRIPLET: ${{matrix.VCPKG_TARGET_TRIPLET}}
      VCPKG_DEFAULT_TRIPLET: ${{matrix.VCPKG_TARGET_TRIPLET}}
      VCPKG_DEFAULT_HOST_TRIPLET: x64-linux
      VCPKG_MANIFEST_FEATURES:
      SOURCE_DIR:  ${{github.workspace}}/.cache/source
      TOOLS_DIR:   ${{github.workspace}}/.cache/tools
      INSTALL_DIR: ${{github.workspace}}/.cache/install
      BUILD_DIR:   ${{github.workspace}}/build
      ANDROID_ABI: ${{matrix.ANDROID_ABI}}
      ANDROID_NDK_HOME: /usr/local/lib/android/sdk/ndk/26.3.11579264
      ANDROID_PLATFORM: android-34
      ANDROID_NATIVE_API_LEVEL: 34
      qt_modules: 'qtimageformats qtmultimedia qtscxml qt5compat'
      artifact_name: build_android

    # Map the job outputs to step outputs
    outputs:
      name: ${{ env.artifact_name }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: make directory
        run: |
          cmake -E make_directory ${{env.SOURCE_DIR}}
          cmake -E make_directory ${{env.TOOLS_DIR}}
          cmake -E make_directory ${{env.INSTALL_DIR}}
          cmake -E make_directory ${{env.BUILD_DIR}}

      - name: Install apt packages
        run: |
          #sudo apt-get update -y
          #sudo apt-get upgrade -y
          sudo apt install -y -q ninja-build

      - name: Cache installed
        #if: false
        uses: actions/cache@v4
        id: cache-installed
        with:
          path: |
            ${{env.INSTALL_DIR}}
          key: install_android_qt${{matrix.qt_version}}_${{matrix.qt_arch}}_${{matrix.BUILD_TYPE}}

      - name: Install Qt of linux_gcc_64
        uses: jurplel/install-qt-action@v4
        with:
          dir: '${{env.TOOLS_DIR}}/qt' # optional
          version: '${{matrix.qt_version}}'
          #host: 'linux'
          target: 'desktop'
          arch: 'linux_gcc_64'
          set-env: false
          cache: true
          cache-key-prefix: android-cached-qt_${{matrix.qt_version}}_${{matrix.qt_arch}}

      - name: Install Qt of android
        uses: jurplel/install-qt-action@v4
        with:
          # Directory to install Qt
          dir: '${{env.TOOLS_DIR}}/qt' # optional
          # Version of Qt to install
          version: '${{matrix.qt_version}}'
          # Host platform
          #host: linux # optional
          # Target platform for build
          target: 'android' # optional, default is desktop
          # Architecture for Windows/Android
          arch: '${{matrix.qt_arch}}' # optional
          # Additional Qt modules to install
          modules: '${{env.qt_modules}}' # optional. See: https://ddalcino.github.io/aqt-list-server/
          cache: true
          cache-key-prefix: android-cached-qt_${{matrix.qt_version}}_${{matrix.qt_arch}}

      - name: run vcpkg
        if: false
        uses: lukka/run-vcpkg@v11
        with:
          # Indicates whether to only setup vcpkg (i.e. installing it and setting the environment variables VCPKG_ROOT, RUNVCPK_VCPKG_ROOT), without installing any port.
          #setupOnly: # optional
          #vcpkgGitURL: https://github.com/KangLin/vcpkg.git
          vcpkgGitCommitId: ${{env.VCPKGGITCOMMITID}}
          vcpkgDirectory: ${{ runner.workspace }}/vcpkg/

      - name: build RabbitCommon
        working-directory: ${{github.workspace}}/build
        env:
          # See: https://doc.qt.io/qt-6/cmake-variable-qt-android-sign-apk.html
          QT_ANDROID_KEYSTORE_PATH: ${{github.workspace}}/RabbitCommon.keystore
          QT_ANDROID_KEYSTORE_ALIAS: rabbitcommon
          QT_ANDROID_KEYSTORE_STORE_PASS: ${{secrets.STOREPASS}}
        run: |
          sudo chmod 777 ${QT_ROOT_DIR}/bin/qt-cmake
          ${QT_ROOT_DIR}/bin/qt-cmake .. \
              -GNinja \
              -DCMARK_SHARED=OFF \
              -DCMARK_TESTS=OFF \
              -DCMARK_STATIC=ON \
              -DWITH_CMARK=OFF \
              -DWITH_CMARK_GFM=ON \
              -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}} \
              -DCMAKE_AUTOGEN_VERBOSE=ON \
              -DANDROID_PLATFORM=${{env.ANDROID_PLATFORM}} \
              -DCMAKE_PREFIX_PATH=${QT_ROOT_DIR}:${{env.INSTALL_DIR}}/lib/cmake \
              -DQT_HOST_PATH=${QT_ROOT_DIR}/../gcc_64 \
              -DQT_ANDROID_SIGN_APK=ON \
              -DVCPKG_TRACE_FIND_PACKAGE=ON \
              -DQt6LinguistTools_DIR=${QT_ROOT_DIR}/../gcc_64/lib/cmake/Qt6LinguistTools \
              -DCMAKE_PREFIX_PATH=${QT_ROOT_DIR}:${{env.INSTALL_DIR}}/lib/cmake \
              -DCMAKE_INSTALL_PREFIX=`pwd`/install \
              -DQT_ENABLE_VERBOSE_DEPLOYMENT=ON \
              -DBUILD_TEST=OFF \
              -DBUILD_APP=OFF
          cmake --build . --config ${{matrix.BUILD_TYPE}}  --target all
          cmake --build . --config ${{matrix.BUILD_TYPE}}  --target install
          7z a RabbitCommon_${{env.RabbitCommon_VERSION}}_${{matrix.qt_arch}}_qt${{matrix.qt_version}}_${{matrix.BUILD_TYPE}}.zip ./install/*
          cd ${{github.workspace}}/build/FileBrowser
          APK_FILEBROWSER=`find . -name "android-*.apk"`
          echo "Find $APK_FILEBROWSER"
          mv $APK_FILEBROWSER ${{github.workspace}}/build/FileBrowser_${{env.RabbitCommon_VERSION}}_${{matrix.qt_arch}}_qt${{matrix.qt_version}}_${{matrix.BUILD_TYPE}}.apk
          cd ${{github.workspace}}/build/MimeTypeBrowser
          APK_MimeTypeBrowser=`find . -name "android-*.apk"`
          echo "Find $APK_MimeTypeBrowser"
          mv $APK_MimeTypeBrowser ${{github.workspace}}/build/MimeTypeBrowser_${{env.RabbitCommon_VERSION}}_${{matrix.qt_arch}}_qt${{matrix.qt_version}}_${{matrix.BUILD_TYPE}}.apk

      - name: Update artifact
        if: ${{ matrix.BUILD_TYPE == 'Release' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.artifact_name }}_${{matrix.qt_version}}_${{matrix.qt_arch}}
          path: |
            ${{github.workspace}}/build/RabbitCommon_${{env.RabbitCommon_VERSION}}_${{matrix.qt_arch}}_qt${{matrix.qt_version}}_${{matrix.BUILD_TYPE}}.zip
            ${{github.workspace}}/build/*.apk
